<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708791677970-3l5o9u04rt4j2cvi7rfdgai6f3g08ssj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708791677970-3l5o9u04rt4j2cvi7rfdgai6f3g08ssj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>708791677970-fsfcd7i3m48i71h3jmm9g8qr0762grj0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9qJ0GwCJsj5bRO39HnVqAdplNMW4vUng</string>
	<key>GCM_SENDER_ID</key>
	<string>708791677970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vegefruiter.vegefruiter</string>
	<key>PROJECT_ID</key>
	<string>vegefruiter</string>
	<key>STORAGE_BUCKET</key>
	<string>vegefruiter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708791677970:ios:6f2b7bfdafaf5ce50814cb</string>
</dict>
</plist>